<sly data-sly-use.textImageObj="com.inhouse.core.models.TextAndImageComponentModel"/>
<sly data-sly-test="${textImageObj.selectVariation == 'variation1'}">
    <h2>${textImageObj.headingText}</h2>
    <sly data-sly-test = "${textImageObj.imageLink}">
        <img src="${textImageObj.imageLink}" alt="" class="img_inner">
    </sly>
        <div class="text1 col2"><a href="${textImageObj.subHeadingLink}">${textImageObj.subHeadingText}</a></div>
        <p>${textImageObj.longDescriptionText}</p>
     </br>
</sly>
<sly data-sly-test="${textImageObj.selectVariation == 'variation2'}">
    <sly data-sly-test = "${textImageObj.headingText}" >
             <h2>${textImageObj.headingText}</h2>
    </sly>
        <ul class="list1">
            <li>
                <time>${textImageObj.subHeadingText}</time>
                <div class="extra_wrapper">${textImageObj.longDescriptionText}</div>
            </li>
        </ul>
</sly>
<sly data-sly-test="${textImageObj.selectVariation == 'variation3'}">
    <h3>${textImageObj.headingText}</h3>
    <sly data-sly-test = "${textImageObj.headingText}"/>
        <img src="${textImageObj.imageLink}" alt="">
        <div class="text2"><a href="${textImageObj.subHeadingLink}">${textImageObj.subHeadingText}</a></div>
        <p>${textImageObj.longDescriptionText}</p>
</sly>


