<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About</title>
</head>
<body class="page1">
<!--==============================header=================================-->
<header>
    <div class="container_12">
        <div class="grid_12">
            <h1><a href="index.html"><img src="/content/dam/aem-inhouse/images/logo.png" alt="Boo House"></a></h1>
            <div class="menu_block">
                <nav id="bt-menu" class="bt-menu">
                    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
                    <ul>
                        <li class="current bt-icon"><a href="index.html">Home</a></li>
                        <li class="bt-icon"><a href="index-1.html">About</a></li>
                        <li class="bt-icon"><a href="index-2.html">Services</a></li>
                        <li class="bt-icon"><a href="index-3.html">Projects</a></li>
                        <li class="bt-icon"><a href="index-4.html">Blog</a></li>
                        <li class="bt-icon"><a href="index-5.html">Contacts</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>

<!--==============================Content=================================-->
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 24, 2014!</div>
    <div class="container_12">
        <div class="grid_4">
            <h2>Who We Are</h2>
            <img src="images/page2_img.jpg" alt="" class="img_inner">
            <div class="text1 col2"><a href="#">Hom dui erosi laoru adipiscingq id risus sagittis, non consequat feiter milyno</a></div>
            <p>In mollis erat mattisy neque facilisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus.</p>
            Maecenas vehiculaegestas venenatis. Duiser massa elit, auctor pellentesque vel, aliquet amet erat. <br>
            <a href="#" class="btn">more</a>
        </div>
        <div class="grid_4">
            <h2>Our History</h2>
            <ul class="list1">
                <li>
                    <time datetime="2014-01-01">1998 -</time>
                    <div class="extra_wrapper"><a href="#">Ger mollis erat mattisy equelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis quis malesuada nibh odio ut</a></div>
                </li>
                <li>
                    <time datetime="2014-01-01">2001 -</time>
                    <div class="extra_wrapper">Iolmollis erat mtisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis quis malesuada nibh odio ut velit. <a href="#"></a></div>
                </li>
                <li>
                    <time datetime="2014-01-01">2005 -</time>
                    <div class="extra_wrapper">Erat mattisy nequelisis, sit amet ultricieser erarutrum. Crasacilisis, nulla vel viverra auctor, leo magna sodales felis quis lesuada nibh odio ut velitoin pharetra <a href="#"></a></div>
                </li>
                <li>
                    <time datetime="2014-01-01">2008 -</time>
                    <div class="extra_wrapper"><a href="#">mattisy nequelisis, simet eryu ultricieser erarutrumracilisis, nulla vel viverra auctor, leo magna sodales felis quiser malesuada nibh odio ut oin</a></div>
                </li>
                <li>
                    <time datetime="2014-01-01">2013 -</time>
                    <div class="extra_wrapper"><a href="#">Mattisy nequelisis, sit amet ty ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis quis malesuada nibh odio ut</a></div>
                </li>
            </ul>
        </div>
        <div class="grid_4">
            <h2>Opportunities</h2>
            <div class="text1 col2"><a href="#">Hom dui erosi laoru adipiscingq id risus sagittis, non consequat feiter milyno</a></div>
            <p>In mollis erat mattisy neque facilisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus</p>
            Ggestas venenatis. Duis massa elit, auctor pellentesque vel, aliquet sit amet eratertolo. Phasellus accumsan justo vitae feugiat
            <ul class="list">
                <li><a href="#">Proin pharetra luctus</a></li>
                <li><a href="#">Diam, a scelerisque eros</a></li>
                <li><a href="#">Maecenas vehicula egestas</a></li>
                <li><a href="#"> Duis massa elit, auctor non</a></li>
                <li><a href="#">Aliquet sit amet eraty</a></li>
            </ul>
            Demollis erat mattisy nequelisis, sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis quis malesuada nibh odio ut velit. Proin pharetra luctusy.
        </div>
    </div>
</div>
<div class="gray_block center">
    <div class="container_12">
        <div class="grid_12">
            <h3>Best Professionals</h3>
        </div>
        <div class="grid_3">
            <div class="block3">
                <img src="images/page2_img1.jpg" alt="">
                <div class="text2"><a href="#">Mark Johnson</a></div>
                In mollis erat matt nequemer facilameteserylerarutrum.
            </div>
        </div>
        <div class="grid_3">
            <div class="block3 bd1">
                <img src="images/page2_img2.jpg" alt="">
                <div class="text2"><a href="#">Ingrid Wood</a></div>
                In mollis erat matt nequemer facilameteserylerarutrum.
            </div>
        </div>
        <div class="grid_3">
            <div class="block3 bd2">
                <img src="images/page2_img3.jpg" alt="">
                <div class="text2"><a href="#">Linda Smith</a></div>
                In mollis erat matt nequemer facilameteserylerarutrum.
            </div>
        </div>
        <div class="grid_3">
            <div class="block3 bd3">
                <img src="images/page2_img4.jpg" alt="">
                <div class="text2"><a href="#">Devid Grosh</a></div>
                In mollis erat matt nequemer facilameteserylerarutrum.
            </div>
        </div>
    </div>
</div>

<!--==============================footer=================================-->
<footer>
    <div class="container_12">
        <div class="grid_12">
            <div class="socials">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google-plus"></a>
            </div>
            <div class="clear"></div>
            <div class="copy">
                BizGroup &copy; 2014 | <a href="#">Privacy Policy</a> <br> Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
            </div>
        </div>
    </div>
</footer>

</body>
