<!DOCTYPE html>
<html lang="en">
<!-- Need Fixes -->
<head>
    <meta charset="utf-8">
    <title>Contact us</title>
</head>
<body class="page1">
    <footer>
        <div class="container_12">
            <div class="grid_12">
                <div class="socials">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                </div>
                <div class="clear"></div>
                <div class="copy">
                    BizGroup &copy; 2014 | <a href="#">Privacy Policy</a> <br> Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
                </div>
            </div>
        </div>
    </footer>
</body>
