<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blogs</title>
</head>
<body class="page1">
<!--==============================header=================================-->
<header>
    <div class="container_12">
        <div class="grid_12">
            <h1><a href="index.html"><img src="/content/dam/aem-inhouse/images/logo.png" alt="Boo House"></a></h1>
            <div class="menu_block">
                <nav id="bt-menu" class="bt-menu">
                    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
                    <ul>
                        <li class="current bt-icon"><a href="index.html">Home</a></li>
                        <li class="bt-icon"><a href="index-1.html">About</a></li>
                        <li class="bt-icon"><a href="index-2.html">Services</a></li>
                        <li class="bt-icon"><a href="index-3.html">Projects</a></li>
                        <li class="bt-icon"><a href="index-4.html">Blog</a></li>
                        <li class="bt-icon"><a href="index-5.html">Contacts</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>

<!--==============================Content=================================-->
<div class="content cont2"><div class="ic">More Website Templates @ TemplateMonster.com - February 24, 2014!</div>
    <div class="container_12">
        <div class="grid_12">
            <h2 class="mb0">Our Blog</h2>
        </div>
    </div>
</div>
<div class="gray_block gb1">
    <div class="container_12">
        <div class="grid_8">
            <div class="blog">
                <img src="/content/dam/aem-inhouse/profile.jpg" alt="">
                <div class="extra_wrapper">
                    <div class="text1">
                        <a href="#">Hom dui erosi laoru adip</a>
                        <time class="col2" datetime="2014-01-01">January 05, 2014</time>
                    </div>In mollis erat mattisy nequelisis sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis quis malesuada nibh odio ut velit. Proin pharetra luctus
                    <br>
                    <a href="#" class="btn">more</a>
                </div>
            </div>
            <div class="blog bd1">
                <img src="images/page5_img2.jpg" alt="">
                <div class="extra_wrapper">
                    <div class="text1">
                        <a href="#">Erosi ru adipertolom</a>
                        <time class="col2" datetime="2014-01-01">Januaryctober 10, 2014</time>
                    </div>In mollis erat mattisy nequelisis sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis quis malesuada nibh odio ut velit. Proin pharetra luctus
                    <br>
                    <a href="#" class="btn">more</a>
                </div>
            </div>
            <div class="blog bd2">
                <img src="images/page5_img3.jpg" alt="">
                <div class="extra_wrapper">
                    <div class="text1">
                        <a href="#">Goliip dertolon sader</a>
                        <time class="col2" datetime="2014-01-01">February 10, 2014</time>
                    </div>In mollis erat mattisy nequelisis sit amet ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis quis malesuada nibh odio ut velit. Proin pharetra luctus
                    <br>
                    <a href="#" class="btn">more</a>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="text1 col3 head1">Categories:</div>
            <ul class="list l1">
                <li><a href="#">Proin pharetra luctus</a></li>
                <li><a href="#">Diam, a scelerisque eros</a></li>
                <li><a href="#">Maecenas vehicula egestas</a></li>
                <li><a href="#">Duis massa elit, auctor non</a></li>
                <li><a href="#">Aliquet sit amet eraty</a></li>
            </ul>
            <ul class="list l1">
                <li><a href="#">Delto pharetra luctusum</a></li>
                <li><a href="#">Kilom a sceleriue erosr</a></li>
                <li><a href="#">Olikaecenas vehiculastas</a></li>
            </ul>
            <div class="text1 head1 col3">
                Recent Posts:
            </div>
            <div class="post">
                <div class="fl">
                    <img src="images/page5_img4.jpg" alt="">
                    <time datetime="2014-01-01">2014-01-24</time>
                </div>
                <div class="extra_wrapper">
                    <a href="#">Mollis erat mattisy uelisis, sit amet ultricieser rutrum. Cras facilisis, nulla veleru viverra aucto leo magna sodales felis quis</a>
                </div>
            </div>
            <div class="post">
                <div class="fl">
                    <img src="images/page5_img5.jpg" alt="">
                    <time datetime="2014-01-01">2014-01-24</time>
                </div>
                <div class="extra_wrapper">
                    <a href="#">Sodales felis quis alesuada nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis accumsannas vehicula.</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--==============================footer=================================-->
<footer>
    <div class="container_12">
        <div class="grid_12">
            <div class="socials">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google-plus"></a>
            </div>
            <div class="clear"></div>
            <div class="copy">
                BizGroup &copy; 2014 | <a href="#">Privacy Policy</a> <br> Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
            </div>
        </div>
    </div>
</footer>

</body>
