<sly data-sly-use.carousel = "com.inhouse.core.models.CarouselComponentModel"/>
<sly data-sly-test="${wcmmode.edit}">
    <p style="background-color: red">Edit The Carousel Component</p>
</sly>

<sly data-sly-test.sliderCssClass="${wcmmode.edit ? '' : 'slider_wrapper'}"/>
<sly data-sly-test.sliderContentId="${wcmmode.edit ? '' : 'camera_wrap'}"/>

<div class="${sliderCssClass}">
    <div id="${sliderContentId}" class="">
        <sly data-sly-list.carousel = "${carousel.slides}">
            <div data-sly-resource="${'carousel{0}' @ format=carouselList.count, resourceType = 'aem-inhouse/components/bannercomponent'}"></div>
        </sly>
    </div>
</div>




