<!--this is used to make wrapper component/container component in which we add three column parsys-->
<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - February 24, 2014!</div>
    <div class="container_12">
        <div class="grid_4">
            <div data-sly-resource="${'content0'@resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
        <div class="grid_4">
            <div data-sly-resource="${'content1'@resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
        <div class="grid_4">
            <div data-sly-resource="${'content2'@resourceType='wcm/foundation/components/parsys'}"></div>
        </div>
    </div>
</div>