<sly data-sly-use.header="com.inhouse.core.models.HeaderComponentModel"/>
<header>
    <div class="container_12">
        <div class="grid_12">
            <h1><a href="${header.urlImagePath}.html"><img src="${header.logoImagePath}" alt="Boo House"></a></h1>
            <div class="menu_block">
                <nav id="bt-menu" class="bt-menu">
                    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
                    <ul>
                        <sly data-sly-list.linkDtoList="${header.linkDtos}">
                            <li class="bt-icon">
                                <a href="${linkDtoList.linkURL}.html">${linkDtoList.linkName}</a>
                            </li>
                        </sly>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
