<sly data-sly-use.services="com.inhouse.core.models.ServicesGridComponent"/>
<div class="container_12">
    <div class="slogan">
        ${services.headingText} <br>
        <a href="#" class="btn">${services.buttonText}</a>
    </div>
</div>
<div class="container_12 section_2">
    <section class="grid" id="grid">
        <sly data-sly-list.linkDtoObject="${services.linkDtoList}">
            <a href="#" data-path-hover="m 180,70.57627 -180,0 L 0,0 180,0 z">
                <figure>
                    <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,262 0,0 180,0 z"/></svg>
                    <figcaption>
                        <div class="title">${linkDtoObject.headingText}</div>
                    </figcaption>
                </figure>
                <span>${linkDtoObject.linkName}</span>
            </a>
        </sly>
    </section>
</div>

