<sly data-sly-test="${wcmmode.edit}">
</sly>
<div class="gray_block center">
    <div class="container_12">
        <div class="grid_12">
            <h3>${properties.headingText}</h3>
        </div>
        <div class="grid_3">
            <div class="block3">
                <div data-sly-resource="${'content0'@resourceType='aem-inhouse/components/textandimagecomponent'}"></div>
            </div>
        </div>
        <div class="grid_3">
            <div class="block3 bd1">
                <div data-sly-resource="${'content1'@resourceType='aem-inhouse/components/textandimagecomponent'}"></div>
            </div>
        </div>
        <div class="grid_3">
            <div class="block3 bd2">
                <div data-sly-resource="${'content2'@resourceType='aem-inhouse/components/textandimagecomponent'}"></div>
            </div>
        </div>
        <div class="grid_3">
            <div class="block3 bd3">
                <div data-sly-resource="${'content3'@resourceType='aem-inhouse/components/textandimagecomponent'}"></div>
            </div>
        </div>
    </div>
</div>
